// Banners
$banner-padding:                    16px;
$banner-link-font-weight:           $font-weight-bold !default;
$banner-font-weight:                500;
$banner-padding-x:                  1.25rem !default;